/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

.cell {
  padding: 12px;
  line-height: 32px;
  border: 1px solid rgb(173, 190, 225);
  margin: 0;
}

.typename {
  width: 20%;
  margin: 0;

}
.color {
  width: 45%;
  margin: 0;

}

.picker {
  /*margin: 5%*/
}

table, tr, td, tbody {
  border-collapse: collapse;
  border: none;
  margin: 0;
}

.wrapper{
  display: flex;
  flex-direction: row;
}

.color-select {
  height: 54px;
  padding: 24px 0 0 24px;
  width: 25%;
  /*align-self: flex-end;*/
}

.table {
  padding: 24px 0 0 24px;
  width: 100%;
}
